@import "../../variables.scss";

.container {
  @media screen and (min-width: 768px) {
    display: none;
  }

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-height: 95vh;
  overflow: auto;
}

.header {
  width: 100%;
  text-align: center;
  background-color: rgba($color: #fff, $alpha: 0.8);
  color: #000;
  padding: 30px 0;
  margin-bottom: 30px;
  border-radius: 10px;

  h1 {
    font-size: 20px;
  }
}

.texts {
  width: 100%;

  ul {
    list-style: none;
    padding: initial;
  }
}

.item {
  background-color: rgba($color: #fff, $alpha: 0.4);
  border-radius: 10px;
  margin-bottom: 10px;

  &.itemOpened {
    background-color: rgba($color: #fff, $alpha: 0.8);
    color: $tertiary-grey;
  }
}

.itemHeader {
  display: flex;
  align-items: center;
  padding-left: 10px;

  h2 {
    font-size: 14px;
    margin-left: 20px;
  }
}

.itemText {
  font-size: 14px;
  padding: 0 15px 5px 60px;
}

.button {
  width: 25px;
  height: 24px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
  border: none;

  &.buttonOpened {
    background-color: $tertiary-blue;
    color: #fff;
  }
}

.icon {
  width: 30px;
  height: 30px;
}
