@import "../../variables.scss";

.container {
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: center;

  a {
    text-decoration: none;
    color: $secondary-grey;
    font-weight: 700;
  }

  &:hover {
    a {
      color: $tertiary-blue;
    }

    svg {
      transform: rotate(360deg);
    }
  }
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: bottom;
  transition: 0.7s ease-in-out;
}
