@import "./fonts.scss";
@import "./variables.scss";

html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-170deg, $primary-grey 20%, $secondary-grey);
  background-position: 100%;
}

body {
  background-image:
    linear-gradient(270deg, $tertiary-grey 3px, transparent 0),
    linear-gradient($tertiary-grey 3px, transparent 0),
    linear-gradient(270deg, $tertiary-grey 1px, transparent 0),
    linear-gradient($tertiary-grey 1px, transparent 0),
    linear-gradient(270deg, $tertiary-grey 1px, transparent 0),
    linear-gradient($tertiary-grey 1px, transparent 0);
  background-size:
    112px 112px,
    112px 112px,
    56px 56px,
    56px 56px,
    28px 28px,
    28px 28px;
  font-family: "Open Sans Regular", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;

  .header {
    padding: 15px 20px;
    color: #fff;
  }
}
