// this is also an example how to work with css and sass variable together
// and how to use them in calculations

$base-grid: 8px;
$color-white:#fff;
$color-black:#1a1a1a;
$link-size: calc(#{$base-grid} * 20);

// redefine css variables that are obtained from style property
$count:var(--item-count);
$total:var(--item-total);

.container {
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.list {
  position: relative;
  list-style: none;
  width: 0;
  padding: 0;
}

.item {
  // in calculations always interpolate
  $angle: calc(360deg / #{$total});
  $rotation: calc(140deg + #{$angle} * #{$count});

  width: $link-size;
  height: $link-size;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(#{$link-size} / -2);
  margin-left: calc(#{$link-size} / -2);
  transform: rotate(#{$rotation}) translate(calc(#{$link-size} + #{$base-grid} * 15)) rotate(calc(#{$rotation} * -1));
}

.circle {
  opacity: 0;
  animation: on-load 0.3s ease-in-out forwards;
  animation-delay: calc(#{$count} * 150ms);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &::after {
    content: "";
    background-color: transparent;
    width: $link-size;
    height: $link-size;
    border: 2px dashed $color-white;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    transition: all 0.3s cubic-bezier(0.53, -0.67, 0.73, 0.74);
    transform: none;
    opacity: 0;
  }

  &:hover::after {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.37, 0.74, 0.15, 1.65);
    transform: scale(1.1);
    opacity: 1;
  }
}

.icon {
  width: calc(#{$base-grid} * 8);
  height: calc(#{$base-grid} * 8);
  transition: all 0.3s ease-in-out;
  fill: $color-black;
}

.mainCircle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  opacity: 0;
  animation: on-load 0.3s ease-in-out forwards;
  animation-delay: calc((#{$total} + 4) * 150ms);
  border-radius: 50%;
  top: -150px;
  left: -150px;
  background-color: $color-white;
  color: $color-black;
}

.mainCircleContent {
  padding: 20px;
  text-align: center;

  &.active {
    transition: 0.1s ease-in;
    transform: scale(105%);
  }
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  70% {
    opacity: 0.7;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
